{% extends 'base.html.twig' %}

{% block title %}Edit Brands{% endblock %}

{% block body %}
    <h1>Edit Brands</h1>

    {{ include('brands/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('brands/_delete_form.html.twig') }}
{% endblock %}
